<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <div id="container"></div>
  <script type="text/javascript" src="/commons.c1d6.js"></script><script type="text/javascript" src="/vendor.81e0.js"></script><script type="text/javascript" src="/index.d6f9.js"></script><script type="text/javascript" src="/lazy_loader.1439.js"></script></body>
</html>
