@import 'base';

.article-container{
  .article-content{
    padding-top: 60px;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    .article-title-block{
      position: relative;
      max-height: 375px;
      overflow: hidden;
      img{
        max-width: 100%;
      }
      .article-title{
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        box-sizing: border-box;
        width: 100%;
        .title{
          font-size: 18px;
          text-shadow: 1px 1px 1px #000;
        }
        .source{
          font-size: 12px;
          text-align: right;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .article-body{
    padding: 10px;
    border-bottom: 1px solid $border-grey;
    .content-image{
      max-width: 100%;
      margin: 10px 0;
    }
    .meta{
      display: flex;
      align-content: center;
      line-height: 34px;
      font-size: 14px;
      margin-bottom: 10px;
      .avatar{
        height: 34px;
        width: 34px;
        border-radius: 17px;
        margin-right: 6px;
      }
    }
    .question-title{
      font-size: 16px;
      padding: 10px 0;
      font-weight: bold;
    }
    .view-more{
      display: none;
    }
    a{
      color: $font-blue;
    }
  }
  .article-comments{
    padding: 10px;
    .title{
      margin: 10px 0;
      font-size: 20px;
    }
    .comment-block{
      margin-bottom: 15px;
      img{
        float: left;
        height: 36px;
        width: 36px;
        border-radius: 18px;
      }
      .comment-content{
        margin-left: 46px;
        font-size: 14px;
        h1{
          font-weight: bold;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .info{
          font-size: 12px;
          span{
            .fa{
              margin-right: 4px;
            }
            margin-right: 10px;
          }
        }
      }
    }
  }
}