@import 'base';

.header-container{
  background: $base-blue;
  height: 60px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 60px;
  display: flex;
  z-index: 999;
  button{
    padding: 0;
    height: 60px;
    outline: none;
    width: 60px;
    text-align: center;
    background: none;
    border: none;
    .fa{
      font-size: 20px;
      color: #fff;
    }
  }
  .title{
    margin-left: 10px;
  }
  
}