@import "base";

.home-container{
  .tabs-container{
    .tabs-buttons{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: $base-blue;
      z-index: 1;
      .nav-button{
        color: $white;
        line-height: 60px;
        text-align: center;
        width: 80px;
        a{
          font-size: 14px;
          color: $blue-grey;
        }
      }
      .nav-button.active{
        a{
          color: $white;
        }
      }
    }
    .tabs-content{
      padding-top: 60px;
      .tabs-item-container{
        display: none;
      }
      .tabs-item-container.active{
        display: block;
      }
    }
  }
}