@import 'base';

.list-container{
  padding: 0 10px;
  .new-block{
    margin-top: 10px;
    background: $white;
    display: flex;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    align-items: center;
    .image-wrapper{
      height: 100px;
      width: 100px;
      margin-right: 10px;
      img{
        height: 100px;
        width: 100px;
      }
    }
    p{
      color: $heavy-blue;
    }  
  }
  .theme-block{
    background: $white;
    border: 1px solid $blue-grey;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    height: 150px;
    img{
      width: 100%;
      vertical-align: middle;
      filter: blur(2px);
    }
    .title{
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      color: $white;
      text-shadow:1px 1px 1px black; 
      h1{
        font-size: 20px;
      }
      
    }
  }
}