@import "base";

.tabs-container{
  .tabs-buttons{
    display: flex;
  }
  .tabs-content{
    .tabs-item-container{
      display: none;
    }
    .tabs-item-container{
      display: block;
    }
  }
}